@import 'tailwindcss';
@import '../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-app: var(--color-stone-50);
    --color-surface: var(--color-stone-100);
    --color-primary: var(--color-violet-600);
    --color-secondary: var(--color-stone-700);
    --color-gray: var(--color-stone-200);
    --color-info: var(--color-cyan-500);
    --color-warning: var(--color-amber-400);
    --color-success: var(--color-emerald-500);
    --color-danger: var(--color-rose-500);
}

@layer theme {
    .dark {
        --color-app: var(--color-stone-900);
        --color-surface: var(--color-stone-800);
        --color-primary: var(--color-violet-400);
        --color-secondary: var(--color-stone-400);
        --color-gray: var(--color-stone-800);
        --color-info: var(--color-cyan-400);
        --color-warning: var(--color-amber-300);
        --color-success: var(--color-emerald-400);
        --color-danger: var(--color-rose-400);
    }
}


@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
