@import 'tailwindcss';
@import '../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--color-zinc-900);
    --color-secondary: var(--color-zinc-100);
    --color-gray: var(--color-slate-200);
    --color-info: var(--color-blue-600);
    --color-warning: var(--color-yellow-400);
    --color-danger: var(--color-red-500);
}

@layer theme {
    .dark {
        --color-primary: var(--color-zinc-100);
        --color-secondary: var(--color-zinc-800);
        --color-gray: var(--color-slate-700);
        --color-info: var(--color-blue-400);
        --color-warning: var(--color-yellow-300);
        --color-danger: var(--color-red-400);
    }
}


@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
